.App {
	text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 10px;
    gap: 20px;
}

.notification-table {
	margin: 20px auto;
	width: 80%;
}

.notification-table table {
	width: 100%;
	border-collapse: collapse;
}

.notification-table th,
.notification-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.notification-table th {
	background-color: #f2f2f2;
	color: black;
	text-align: center;
}

.notification-table tr:nth-child(even) {
	background-color: #f9f9f9;
}

.notification-table tr:hover {
	background-color: #ddd;
}

.notification-table th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #4caf50;
	color: white;
}

.App-link {
	color: #61dafb;
}
.push-notification-title {
	font-size: 17px;
	margin-top: 4px;
	margin-bottom: 4px;
	color: black;
}

.push-notification-text {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 10px;
	color: black;
}

.btn-primary {
	height: 48px;
	width: 240px;
	border-radius: 8px;
	border: 1px solid #2a63b0;
	background: #1a75ed;
	cursor: pointer;
	font-size: 15px;
	color: #ffffff;
	margin-bottom: 10px;
}

.btn-primary:active {
	border: 1px solid #1f4373;
}

.notification-banner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 12px 16px;
	background: #3e5fcd;
	font-size: 16px;
	color: #ffffff;
}

.notification-banner-link {
	margin-left: 4px;
	color: #ffffff;
}
#root .ant-table-cell{
	padding: 8px 8px;
}